* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-form {
  /* border: 1px solid blue; */
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  /* border: 1px solid red; */
  padding: 20px;
  margin-bottom: 20px;;
}